<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Список товаров</h2>
<a href="/create">Создать</a>

<table>
  <tr>
    <th>ID</th>
    <th>Наименование товара</th>
    <th>Количество</th>
  </tr>
  {% for member in goods2: %}
      <tr>
        <td>{{member.id}}</td>
        <td>{{member.name}} <a href="/correction/{{member.id}}">Внести изменения</a></td>
        <td>{{member.q}}</td>
      </tr>
  {% endfor %}

</table>

</body>
</html>
